
<h1>Listing Boards</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th width="15%">글 번호</th>
      <th width="60%">제목</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td class="title"><%= link_to board.title, board, :style=>'color:#F12345;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새글쓰기', new_board_path, class: 'btn btn-dark' %>
<a class='btn btn-warning' id='change-title'>제목 바꾸기</a>
<a class='btn btn-danger color-btn' haha="text-danger">빨강</a>
<a class='btn btn-primary color-btn' haha="text-primary">파랑</a>
<a class='btn btn-warning color-btn' haha="text-warning">노랑</a>

<% content_for :script do %>
<!-- 자바 스크립트 시작 -->
<script>
// tr에 해당하는 부분을 click하면
// ** '현재' click 한 부분의 id가 몇인지 파악해야함.

// 페이지를 이동한다.
// ** location.href = '/boards'
</script>
<script src="change_color.js"></script>
<!-- public에있는 change_color.js 가져옴 -->
<script src="change_title.js"></script>
<!-- public에있는 change_title.js 가져옴 -->
<% end %>
